html, body {
  padding: 0;
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 860px;
  width: 90%;
  zoom: 1;
  -webkit-font-smoothing: antialiased;
}
.container:after {
  display: table;
  content: "";
  clear: both;
}

a {
  -webkit-transition: 0.2s ease-out all;
}

.button {
  color: #fff;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  padding: 14px 7%;
  border: 1px solid rgba(176, 182, 194, 0.94);
  border-radius: 2px;
  font-size: 18px;
}

/* layout */
.header {
  position: relative;
  height: 360px;
  background: #444e61;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header-title {
  background: rgba(4, 23, 55, 0.45);
}
.header-title a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font: 400 18px/2.8 "Verdana", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  padding: 0 10px;
  border-bottom: 2px solid transparent;
}
.header-title a:hover {
  opacity: 0.8;
  border-bottom-color: rgba(250, 250, 250, 0.8);
}
.header-title .brand {
  float: left;
  font-weight: 600;
}
.header-title .navigation {
  float: right;
}
.header-title .navigation a {
  margin-left: 1em;
}
.header-content {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}
.header-content h1, .header-content a {
  color: white;
}

.header-home {
  height: 500px;
}
.content {
  padding: 48px 0;
}
